@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Este é o teste técnico para a FIAP. Utilize as guias acima para navegar entre Alunos e Turmas.</p>
</div>
